.header{
    background-color: rgb(13, 88, 32);
    position: fixed;      /* đứng im */
    top: 0;               /* dính trên */
    z-index: 1000;        /* nổi lên trên */
}
body {
  padding-top: 85px; /* chỉnh đúng chiều cao header */
}

.login-card {
    width: 400px;
    min-height: 380px;
    margin: 100px auto;

    border-radius: 12px;      /* BO NHẸ NÈ */
    box-shadow: 0 8px 24px rgba(0,0,0,0.12); /* nhìn xịn hơn */
}


.dashboard-title {
  font-weight: 800;
  color: #198754;
}

.dashboard-card {
  border: none;
  border-radius: 18px;
  padding: 30px 20px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  transition: all 0.3s ease;
  background: white;
}

.dashboard-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0,0,0,0.12);
}

.dashboard-icon {
  font-size: 40px;
  margin-bottom: 15px;
  color: #198754;
}

.dashboard-card p {
  color: #6c757d;
}



